@import "tailwindcss";

.actionButton {
    @apply px-4 py-2 shadow-sm uppercase font-bold bg-stone-800 inline-block hover:bg-stone-900;
}

.actionSaveButton {
    @apply shadow-cyan-800 text-cyan-800 hover:text-cyan-700 hover:shadow-cyan-700;
}

.actionCancelButton {
    @apply shadow-red-800 text-red-800 hover:text-red-700 hover:shadow-red-700;
}

.formInput {
    @apply w-full rounded-md bg-slate-800 border border-teal-950 px-3 py-2 focus:outline-teal-800;
}